<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description"
              content="Truthmaker Semantics">
        <meta name="author"
              content="The Truthmakers">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <title>Truthmaker Semantics</title>
        <link rel="stylesheet" href="css/main.css" />
        <link rel="icon"
              type="image/png"
              href="data:image/png;base64,">
        <!-- <base target="_blank"> -->
        {{ block "meta" . }}
        {{ end }}
    </head>
    <body>
        <div class="header">
            <div class="header-title">
                <a class="header-title_link" href="{{ .Site.BaseURL }}">
                    <h1 class="header-title_title">
                        {{ .Site.Title }}
                    </h1>
                </a>
            </div>
            <nav class="header-main">
                {{- $cur := . -}}
                {{- range .Site.Menus.main }}
                <a class="menu-main{{if or ($cur.IsMenuCurrent "_main" .) ($cur.HasMenuCurrent "_main" .) }}active{{end}}" href="{{ .URL }}">
                    {{ .Name -}}
                </a>
                {{ end }}
            </nav>
            {{ block "header" . }}
            {{ end }}
        </div>
        <div class="main">
            {{block "main" . }}
            {{end }}
        </div>
        <footer class="footer">
            &#169;2021-present, truthmakersemantics
            {{ block "footer" . }}
            {{ end }}
        </footer>
    </body>
</html>
