{{ $prev_auth := .prev_auth }}
{{ with .pub }}
{{ with .author }}
    {{ if (eq . $prev_auth) }}
    &#11835;.
    {{ else }}
    {{ $auth_no := (len . ) }}
    {{ $counter := 1 }}
    {{ range . }}
        {{ if (eq $counter 1) }}
        {{ .family }}, {{ .given }} {{- .dropping -}}
        {{ else if (lt $counter $auth_no)}}
        , {{ .given }} {{ .family }}
        {{ else if (and (eq $counter $auth_no) (eq $auth_no 2)) }}
        and {{ .given }} {{ .family }}
        {{ else  }}
        , and {{ .given }} {{ .family }}
        {{ end -}}
        {{ $counter = add $counter 1 }}
    {{- end -}}
.
{{ end -}}
{{ end }}
{{ with .issued }}
{{ . }}.
{{ end }}
{{ with .title }}
"{{ title . }}."
{{ end }}
In:
{{ with .container }}
<i>{{ . }}</i>
{{ end }}
{{- with .volume }}
{{ . }}
{{- end -}}
{{- with .issue -}}
({{ . }})
{{- end -}}
:
{{ with .page }}
{{ . }}
{{ end }}
.
{{ end }}
