{{ define "footer" }}

<div class="container-sm">
  <div class="container-sm">
    <div class="row gy-0 gx-4 foot-grid">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="https://www.youtube.com/channel/UCloxctCq_5RCfRnYf1LuPyg" class="fa fa-youtube" target="_blank"></a>
        <a href="https://github.com/truthmakersemantics" class="fa fa-github" target="_blank"></a>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <h6>Supported by</h6>
        <img src="/img/footer/NYUlogo.png" class="logo" alt="NYU">
        <img src="/img/footer/UoNlogo.png" class="logo" alt="UoN">
        <img src="/img/footer/UUlogo.png" class="logo" alt="UU">
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="copyright">
          <p>Site maintained by Johannes Korbmacher & Mark Jago</p>
          <p>&copy; The Truthmakers, 2023</p>
          </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
