{{ define "nav" }}
  <nav class="header navbar sticky-top">
    <div class="container-fluid px-5">
      <div class="container-sm">
        <div class="container-sm">
          <a class="menu-title header-TMS" href="/"> ⊩ </a>
          <a id="showNavButton" class="menu-title menu-button" onclick="toggleNav(true,'myNav','showNavButton','hideNavButton')"><i class="fa-solid fa-angles-down"></i></a>
          <a id="hideNavButton" class="menu-title menu-button" onclick="toggleNav(false,'myNav','showNavButton','hideNavButton')"><i class="fa-solid fa-angles-up"></i></a>
        </div>
      </div>
    </div>
  </nav>
  <!-- The overlay -->
  <div id="myNav" class="overlay">
    <!-- Overlay content -->
    <div class="overlay-content">
      {{range .Site.Menus.main }}
        <div class="menu-item">
        <a class="nav-link link-secondary" href="{{.URL}}">{{ .Title }}</a>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
