{{ define "page-title" }}
<p class="title">{{ .FirstSection.Title }}</p>
{{ end }}

{{ define "main" }}

{{ .Content }}

<div class="container-sm">
  <div class="row gy-3 gx-4">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="four-square">
        <p class="dropcaps">
          <b>
            Truthmaker semantics is a new and exciting approach to semantics,
            with applications in logic, philosophy, and linguistics.
          </b>
        </p>

        <p>
          Contemporary philosophical semantics is riddled with <em>anomalies</em>,
          that is: logical and semantic phenomena that the prevailing
          possible-worlds account struggles to explain. The anomalies in question
          arise when two equivalent propositions behave in logically dissimilar
          ways. This happens, for example, when we're giving metaphysical
          explanations <a
            href="http://dx.doi.org/10.1017/CBO9781139149136.002">(Fine
            2012a)</a>, when we're reasoning about counterfactual situations <a
            href="http://dx.doi.org/10.5840/jphil201210938">(Fine 2012b)</a>, or
          when we're giving certain kinds of permissions <a
            href="http://dx.doi.org/10.1111/1746-8361.12068">(Fine 2014)</a>. This
          phenomenon is known in the literature as &laquo;<a
            href="https://plato.stanford.edu/entries/hyperintensionality/">hyperintensionality</a>&raquo;.
          It presents a <em>deep problem</em> for the possible-worlds paradigm,
          which treats equivalent propositions as interchangeable.
        </p>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

           <p>
        Truthmaker semantics solves the logical and semantic problems arising
        from hyperintensionality by analyzing truth in a more careful and
        nuanced way than possible-worlds semantics. Rather than just looking at
        the collection of worlds where a given proposition is true, truthmaker
        semantics asks <em>why</em> the proposition is true in those worlds.
        This results in a rich and fruitful semantic framework, which has found
        many applications in logic, philosophy, and linguistics <a
          href="http://dx.doi.org/10.1002/9781118972090.ch22">(Fine 2016)</a>.
      </p>

      <p>
        This website is intended as a hub for researchers of all colors
        that want to learn more about truthmaker semantics. It's not much yet,
        but it is under active development. Please
        <a href="/contact/">
          <i class="fa fa-envelope fa-xs"></i>contact
        </a>
        the maintainers if you'd like to contribute or know more.
      </p>

    </div>
  </div>
</div>

{{/* <div class="container-sm"> */}}
{{/*   <div class="row gy-3 gx-4"> */}}
{{/*     {{ range .Data.Pages.ByWeight }} */}}
{{/*     <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> */}}
{{/*     {{ .Render "preview" }} */}}
{{/*     </div> */}}
{{/*     {{ end }} */}}
{{/*   </div> */}}
{{/* </div> */}}

{{ end }}
