{{/* This short is the heart of our publications processing. It takes some search keys as input and displays matching publications from our (external) publications database in our preferred formatting. */}}

{{ $search_keys := .Params }}

{{/* This gets the publications from our repository as a CSLJson */}}

{{ $pubs_raw := getJSON "https://raw.githubusercontent.com/truthmakersemantics/tms-bibliography/main/data/json/tms.json" }}

{{/* But because the publication year is burried deep in the issued value, we can't straight-forwardly sort on it (index and sort don't play together). So we need to hack this thang... */}}

{{ $sorter := slice }}
{{ range $pubs_raw }}
    {{ if  .issued }}
        {{ $sorter = $sorter | append (dict "id" .id "year" (index (index (index .issued "date-parts") 0) 0) )}}
    {{ else }}
        {{ $sorter = $sorter | append (dict "id" .id "year" "Forthcoming" ) }}
    {{ end }}
{{ end }}

{{/* Now on to the actual processing... */}}


{{ $pub_keys := slice }}
{{ $pub_counter := 0 }}

{{ range sort $sorter "year" "desc" }}

        {{ range where $pubs_raw "id" .id}}

            {{ $pub_keys = split .keyword ", "}}

            {{ if intersect $search_keys $pub_keys }}

            <div class="publication">
                <h2 class="publication_title">
                    {{- title .title -}}
                </h2>
                <h3 class="publication_authors">
                    {{ with .author }}
                    {{ $auth_no := (len . ) }}
                    {{ $counter := 1 }}
                    {{ range . }}
                    {{ if (eq $counter 1) }}
                    {{ .given }} {{ with (index . "dropping-particle") }}{{ . }}{{ end }} {{ .family }}
                    {{ else if (lt $counter $auth_no)}}
                    , {{ .given }} {{ .family }}
                    {{ else if (and (eq $counter $auth_no) (eq $auth_no 2)) }}
                    and {{ .given }} {{ .family }}
                    {{ else  }}
                    , and {{ .given }} {{ .family }}
                    {{ end -}}
                    {{ $counter = add $counter 1 }}
                    {{- end -}}
                    .
                    {{ end -}}
                </h3>
                {{ $payload := (dict "pub" . "prev_auth" "")}}
                {{ if (eq .type "article-journal") }}
                {{ partial "content/publications/article.html" $payload}}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
    {{end}}
