{{/* This short is the heart of our publications processing. It takes some search keys as input and displays matching publications from our (external) publications database in our preferred formatting. */}}

{{ $search_keys := .Params }}
{{ $other_keys := slice }}
{{ $pub_keys := slice }}
{{ $prev_pub_year := 0 }}
{{ $pub_year := 0 }}
{{ $payload := dict }}

{{/* This gets the publications from our repository as a CSLJson */}}

{{ $pubs_raw := getJSON "https://raw.githubusercontent.com/truthmakersemantics/tms-bibliography/main/data/json/tms.json" }}

{{/* But because the publication year is burried deep in the issued value, we can't straight-forwardly sort on it (index and sort don't play together). So we need to hack this thang... */}}

{{ $sorter := slice }}
{{ range $pubs_raw }}
    {{ if  .issued }}
        {{ $sorter = $sorter | append (dict "id" .id "year" (index (index (index .issued "date-parts") 0) 0) )}}
    {{ else }}
        {{ $sorter = $sorter | append (dict "id" .id "year" "9999" ) }}
    {{ end }}
{{ end }}

{{/* Now on to the actual processing... */}}

{{ range sort $sorter "year" "desc" }}

    {{ range where $pubs_raw "id" .id}}

            {{ $pub_keys = split .keyword ", "}}

            {{ if intersect $search_keys $pub_keys }}

                {{ if .issued }}
                    {{ $pub_year = (index .issued "date-parts" 0 0) }}
                        {{ if ne $pub_year $prev_pub_year }}
                            <h1>{{ $pub_year }}</h1>
                        {{ end }}
                {{ else }}
                     {{ $pub_year = "Unpublished" }}
                        {{ if ne $pub_year $prev_pub_year }}
                            <h1>{{ $pub_year }}</h1>
                        {{ end }}
                {{ end }}

                {{ $prev_pub_year = $pub_year }}

                <div class="publication">
                    <h2 class="publication_title">
                        {{- title .title -}}
                    </h2>
                    <h3 class="publication_authors">
                        {{ $payload = .author }}
                        {{ partial "partials/content/publications/authors.html" $payload }}
                    </h3>

                    {{ with .annote }}
                    <div class="publication_annotation">
                        <p>{{ . }}</p>
                    </div>
                    {{ end }}

                    <p class="publication_keys">
                        Keywords:
                        {{ $other_keys = $pub_keys | symdiff $search_keys }}
                        <ul>
                            {{ range $other_keys }}
                            <li>{{ . }}</li>
                            {{ end }}
                        </ul>
                    </p>

                    <div class="publication_details">
                        <p class="publication_container">

                            {{ $payload = (dict "id" .id "container" (index . "container-title") "editors" .editor "volume" .volume "issue" .issue "page" .page  "publisher" .publisher "place" (index . "publisher-place") "genre" .genre) }}

                            {{ if eq .type "article-journal"}}
                                {{ partial "content/publications/article-journal.html" $payload}}
                            {{ else if eq .type "chapter" }}
                                {{ partial "content/publications/chapter.html" $payload }}
                            {{ else if eq .type "book" }}
                                {{ partial "content/publications/book.html" $payload }}
                            {{ else if eq .type "paper-conference" }}
                               {{ partial "content/publications/proceedings.html" $payload }}
                            {{ else if eq .type "manuscript"}}
                                <i>Unpublished manuscript</i>
                            {{ else if eq .type "thesis" }}
                               {{ partial "content/publications/thesis.html" $payload}}
                            {{ end }}
                       </p>
                       {{ with .DOI }}
                       <a class="publication_link" href="https://doi.org/{{ . }}">{{ . }}</a>
                       {{ end }}
                       {{ with .URL }}
                       <a class="publication_link" href="{{ . }}">{{ . }}</a>
                       {{ end }}
                    </div>
                </div>

            {{ end }}

       {{ end }}

{{end}}
