<!DOCTYPE html>
<html lang="en">
    <head>
        {{ partial "meta/head.html" . }}

        <link rel="stylesheet" href="{{ .Site.BaseURL}}/css/publications.css">
        <script type="text/javascript" src="{{ .Site.BaseURL}}/js/toggle.js"></script>

        {{ block "meta" . }}
        {{ end }}
    </head>
    <body>
        <div class="header">
            {{ partial "header/title.html" . }}
            {{ partial "menus/header-main.html" . }}
            {{ block "header" . }}
            {{ end }}
        </div>
        <div class="main">
            {{block "main" . }}
            {{end }}
        </div>
        <footer class="footer">
            {{ partial "footer/copyright.html"}}
            {{ block "footer" . }}
            {{ end }}
        </footer>
    </body>
</html>
